In [1]:
# Importing Modules
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Prepping variables and lists
years=2010
year_list=[]
data=[]
csv=[]
columns=pd.DataFrame()

In [3]:
# Iterate through yearly CSVs
for i in range(0,25):
    data.append(f"Resources/{years} Dataset.csv")
    year_list.append(years)
    years=years+1

In [11]:
# Read in all CSVs
csv1=pd.read_csv((data[1]))
csv2=pd.read_csv((data[2]))
csv3=pd.read_csv((data[3]))
csv4=pd.read_csv((data[4]))
csv5=pd.read_csv((data[5]))
csv6=pd.read_csv((data[6]))
csv7=pd.read_csv((data[7]))

# Convert CSVs to dataframes
data_2010=pd.DataFrame(csv1)
data_2011=pd.DataFrame(csv2)
data_2012=pd.DataFrame(csv3)
data_2013=pd.DataFrame(csv3)
data_2014=pd.DataFrame(csv4)
data_2015=pd.DataFrame(csv5)
data_2016=pd.DataFrame(csv6)
data_2017=pd.DataFrame(csv7)

In [12]:
# Create age bins
bins = [24, 35, 45, 55, 65, np.inf]
names = [1, 2, 3, 4, 5]

In [15]:
# Modify dataframe criteria and apply bins
data_2010['_age_g'] = pd.cut(data_2010['age'], bins, labels=names)
_2010=pd.DataFrame({
    "state":data_2010._state,
    "year":data_2010.iyear,
    "mental_health":data_2010.menthlth,
    "sex":data_2010.sex,
    "education":data_2010.educa,
    "employment":data_2010.employ,
    "marital_status":data_2010.marital,
    "gen_health":data_2010.genhlth,
    "diabetes":data_2010.diabete3,
    "age":data_2010._age_g
})
data_2011['_age_g'] = pd.cut(data_2011['age'], bins, labels=names)
_2011=pd.DataFrame({
    "state":data_2011._state,
    "year":data_2011.iyear,
    "mental_health":data_2011.menthlth,
    "sex":data_2011.sex,
    "education":data_2011.educa,
    "employment":data_2011.employ,
    "marital_status":data_2011.marital,
    "gen_health":data_2011.genhlth,
    "diabetes":data_2011.diabete3,
    "age":data_2011._age_g
})
data_2012['_age_g'] = pd.cut(data_2012['_age_g'], bins, labels=names)
_2012=pd.DataFrame({
    "state":data_2012._state,
    "year":data_2012.iyear,
    "mental_health":data_2012.menthlth,
    "sex":data_2012.sex,
    "education":data_2012.educa,
    "employment":data_2012.employ,
    "marital_status":data_2012.marital,
    "gen_health":data_2012.genhlth,
    "diabetes":data_2012.diabete3,
    "age":data_2012._age_g
})
_2013=pd.DataFrame({
    "state":data_2013._state,
    "year":data_2013.iyear,
    "mental_health":data_2013.menthlth,
    "sex":data_2013.sex,
    "education":data_2013.educa,
    "employment":data_2013.employ1,
    "marital_status":data_2013.marital,
    "gen_health":data_2013.genhlth,
    "diabetes":data_2013.diabete3,
    "age":data_2013._age_g
})
_2014=pd.DataFrame({
    "state":data_2014._state,
    "year":data_2014.iyear,
    "mental_health":data_2014.menthlth,
    "sex":data_2014.sex,
    "education":data_2014.educa,
    "employment":data_2014.employ1,
    "marital_status":data_2014.marital,
    "gen_health":data_2014.genhlth,
    "diabetes":data_2014.diabete3,
    "age":data_2014._age_g
})
_2015=pd.DataFrame({
    "state":data_2015._state,
    "year":data_2015.iyear,
    "mental_health":data_2015.menthlth,
    "sex":data_2015.sex,
    "education":data_2015.educa,
    "employment":data_2015.employ1,
    "marital_status":data_2015.marital,
    "gen_health":data_2015.genhlth,
    "diabetes":data_2015.diabete3,
    "age":data_2015._age_g
})
_2016=pd.DataFrame({
    "state":data_2016._state,
    "year":data_2016.iyear,
    "mental_health":data_2016.menthlth,
    "sex":data_2016.sex,
    "education":data_2016.educa,
    "employment":data_2016.employ1,
    "marital_status":data_2016.marital,
    "gen_health":data_2016.genhlth,
    "diabetes":data_2016.diabete3,
    "age":data_2016._age_g
})
_2017=pd.DataFrame({
    "state":data_2017._state,
    "year":data_2017.iyear,
    "mental_health":data_2017.menthlth,
    "sex":data_2017.sex,
    "education":data_2017.educa,
    "employment":data_2017.employ1,
    "marital_status":data_2017.marital,
    "gen_health":data_2017.genhlth,
    "diabetes":data_2017.diabete3,
    "age":data_2017._age_g
})

AttributeError: 'DataFrame' object has no attribute 'employ'

In [14]:
data_2010.head()

,_state,iyear,age,educa,race2,employ,marital,sex,income2,genhlth,menthlth,diabete3,checkup1,_smoker3,_rfdrhv4,_totinda,_bmi5cat
0,1,2011,61.0,4.0,1.0,1.0,1.0,2,4.0,4.0,30,3.0,1,1,1,2,2.0
1,1,2011,32.0,3.0,1.0,8.0,5.0,1,5.0,4.0,4,3.0,1,1,9,2,4.0
2,1,2011,9.0,6.0,1.0,1.0,3.0,2,5.0,2.0,3,3.0,1,3,1,1,1.0
3,1,2011,9.0,4.0,1.0,1.0,1.0,2,77.0,3.0,88,3.0,7,4,9,9,3.0
4,1,2011,54.0,3.0,2.0,8.0,4.0,2,1.0,5.0,15,4.0,1,3,1,1,4.0

In [ ]:
full_data=pd.concat([_2010,
                     _2011,
                     _2012,
                     _2013,
                     _2014,
                     _2015,
                     _2016,
                     _2017], ignore_index=True)

# Replace invalid values
full_data=full_data.replace(to_replace=[77,99],value="")
full_data=full_data.replace(to_replace=[88],value=0)

# Add dummies
age_=pd.get_dummies(full_data["age"])
eddummies=pd.get_dummies(full_data["education"])
emp_stat=pd.get_dummies(full_data["employment"])
marital_=pd.get_dummies(full_data["marital_status"])
sex_=pd.get_dummies(full_data["sex"])
gen_health_=pd.get_dummies(full_data["gen_health"])
diabetes_=pd.get_dummies(full_data["diabetes"])

In [ ]:
# Create criteria specific dataframes
_age=pd.DataFrame({
      "18-24":age_[1.0],
      "25-34":age_[2.0],
      "35-44":age_[3.0],
      "45-54":age_[4.0],
      "55-64":age_[5.0],
      "65+":age_[6.0]
      })
_eddummies=pd.DataFrame({
        'no_grad_high':eddummies[1.0],
        'grad_high':eddummies[2.0],
        'attend_college':eddummies[3.0],
        'grad_college':eddummies[4.0],
        'ed_5_defintion_unknown':eddummies[5.0],
        'ed_6_definition_unknown':eddummies[6.0],
        'ed_refused':eddummies[9.0]
        })
_emp_stat=pd.DataFrame({
        'employed':emp_stat[1.0]+emp_stat[2.0],
        'unemployed':emp_stat[3.0]+emp_stat[4.0]+emp_stat[5.0]+emp_stat[6.0]+emp_stat[7.0]+emp_stat[8.0],
        'employment_refused':emp_stat[9.0]
        })
_marital_status=pd.DataFrame({
        'married':marital_[1.0],
        'not_married':marital_[2.0]+marital_[3.0]+marital_[4.0]+marital_[5.0]+marital_[6.0],
        'marital_status_refused':marital_[9.0]
        })
_sex=pd.DataFrame({
        'male':sex_[1],
        'female':sex_[2],
        'sex_refused':sex_[9]
        })
_gen_health=pd.DataFrame({
        'gen_health_excelent':gen_health_[1.0],
        'gen_health_very_good':gen_health_[2.0],
        'gen_health_good':gen_health_[3.0],
        'gen_health_fair':gen_health_[4.0],
        'gen_health_poor':gen_health_[5.0],
        'gen_health_unsure':gen_health_[7.0],
        'gen_health_refused':gen_health_[9.0]
        })
_diabetes=pd.DataFrame({
        'has_diabetes':diabetes_[1.0],
        'does_not_have_diabetes':diabetes_[2.0]+diabetes_[3.0]+diabetes_[4.0],
        'diabetes_unknown':diabetes_[7.0],
        'diabetes_refused':diabetes_[9.0]
        })

In [ ]:
# Concat all dataframes to one
complete_cdc_data=pd.concat(
        [full_data,
        _age,
        _eddummies,
        _emp_stat,
        _marital_status,
        _sex,
        _gen_health,
        _diabetes], ignore_index=True, sort=False)

In [ ]:
census_data = pd.read_csv("Resources/2010_2018_census_data.csv")
census_data

In [ ]:
list(census_data)

In [ ]:
# Connect to postgres
connection_string = "postgres:postgres@localhost:5432/etl_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Append CDC data to postgres db, ddl inline
complete_cdc_data.to_sql(name='cdc_data', con=engine, if_exists='append', index=True)